.bg-menu {
    margin: 0 auto;
    width: 1000px;
    height: 150px;
    background: #34485e;
    .bg-menu ul {
        margin: 0;
        padding: 30px;
    }
}

.link {
    height: 50px;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background: #3598db;
    margin: 20px -7px;
    display: inline-block;
    text-align: center;
    border-radius: 2px;
    padding: 5px;
    line-height: 2;
}
.link:nth-child(2n) {
    background: #2980b9;
}
.home {
    width: 70px;
    clip-path: polygon(80% 0, 100% 50%, 80% 100%, 0% 100%, 0 50%, 0% 0%);
}
.project {
    width: 160px;
    clip-path: polygon(90% 0, 100% 50%, 90% 100%, 0% 100%, 10% 50%, 0% 0%);
}
.beadcrumb {
    width: 190px;
    clip-path: polygon(91% 0, 100% 50%, 91% 100%, 0% 100%,9% 50%, 0% 0%);
}
.getting-started {
    width: 240px;
    clip-path: polygon(93% 0, 100% 50%, 93% 100%, 0% 100%, 7% 50%, 0% 0%);
}
.download {
    width: 190px;
    clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0% 100%, 9% 50%, 0% 0%);
}
